In [1]:
import pandas as pd 
import numpy as np 
import datetime as datetime

In [5]:
#read in last_played_wars csv
last_played_wars_1 = pd.read_csv("last_played_wars.csv")
pull = 7
#Nonregular war clans
reg_clans = ['Dark Matter', 'Golden Clan', 'Legendary Monks', 'Mini Matter', 'Sheer Force']

# # last_played_wars["Participation"] = last_played_wars["Joined Wars"] / last_played_wars["Total Wars"]
# last_played_wars_1 = last_played_wars_1[["Name", "Tag", "Last War", "Town Hall", "Clan", "Total Wars"]]
# last_played_wars_1
last_played_wars_1 = last_played_wars_1[last_played_wars_1['Clan'].isin(reg_clans)]
last_played_wars_1['Wars'] = last_played_wars_1['Total Wars']
last_played_wars_1 = last_played_wars_1.drop('Total Wars', 1)
last_played_wars_1.head()

C:\Users\tiz081\AppData\Local\Temp/ipykernel_23448/1758962222.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  last_played_wars_1 = last_played_wars_1.drop('Total Wars', 1)

            Name         Tag         Clan Last War Date Duration  Wars
1        FlipDon  #PRVV2GV80  Mini Matter      1/6/2022      23d     2
4         kickme  #Q99RYRPPY  Mini Matter      1/6/2022      23d     1
11        Karaka  #QPQCLG809  Mini Matter      1/6/2022      23d     4
12  MagicSnowman  #QGP2Q9PRG  Mini Matter      1/6/2022      23d     1
16     寄付者Karuko  #LV9RCGYCY  Mini Matter      1/6/2022      23d     3

In [6]:
# total_wars = last_played_wars['Total Wars'].groupby(last_played_wars['Name'])
# print(total_wars.mean())
# total_wars = last_played_wars_1.groupby(["Name", "Tag"])['Total Wars'].apply(list).reset_index(name = 'Wars')
# total_wars
# # total_wars['All Wars'] = total_wars['Wars'].sum()
# last_played_wars['Total Wars'] = total_wars['Wars'].sum()
# last_played_wars
# summ = []
# for i in range(len(total_wars['Wars'])):
#     summ.append(sum(total_wars['Wars'][i]))
# total_wars['Total Wars'] = summ
# total_wars = total_wars.drop('Wars', 1)
# total_wars
#last_played_wars = pd.concat([last_played_wars_1, total_wars], axis = 0, ignore_index = True)
#last_played_wars = last_played_wars_1.groupby(['Clan'])
#last_played_wars
last_played_wars = last_played_wars_1.groupby(['Name', 'Tag']).sum().reset_index()
last_played_wars

               Name         Tag  Wars
0        * Rav 94 *   #LPGVYUGR     6
1         *Heisman*  #QRU8U9R98     8
2     -l B A T A l-  #PG8V8CLVJ     5
3          39strike   #L092VV0Q     3
4              5ick   #RCCCUP2G     1
..              ...         ...   ...
221  ⚔️FC Warrior⚔️  #LVJ0LPCU9     0
222   ✌iam5ick.F2P✌   #9VCYP88J     8
223  ⭐️⭐️Smooth⭐️⭐️   #URRP2LLY     3
224           ゲーワライ  #YPV0JUQYU     5
225       寄付者Karuko  #LV9RCGYCY    10

[226 rows x 3 columns]

In [7]:
#All Participation

participation = last_played_wars.copy()
#get maximum number of wars this season
max_participation = pull
participation["Total Wars"] = max_participation
#find participation of members
participation["Joined Wars"] = participation["Wars"]/max_participation
#get < 50% participation members and add to slackers
slackers = participation.loc[participation['Joined Wars'] < .5].copy()
slacking = slackers.to_csv(r"slackers.csv", index = True, header = True)
slackers

                Name         Tag  Wars  Total Wars  Joined Wars
3           39strike   #L092VV0Q     3           7     0.428571
4               5ick   #RCCCUP2G     1           7     0.142857
6               Aid2  #8LY0RYJ28     0           7     0.000000
8     Alex The Brave  #Q8YQ0CCQ2     3           7     0.428571
10   Alex The Strong  #Q9PU2PJJL     3           7     0.428571
..               ...         ...   ...         ...          ...
215       umarangers  #PY22RGPLY     0           7     0.000000
216         verbatxm  #20R9QGCJC     3           7     0.428571
220           yobama  #QYRGV809Y     3           7     0.428571
221   ⚔️FC Warrior⚔️  #LVJ0LPCU9     0           7     0.000000
223   ⭐️⭐️Smooth⭐️⭐️   #URRP2LLY     3           7     0.428571

[92 rows x 5 columns]

In [59]:
#Split Last Played Wars by clan
#Sheer Force

#Create a copy of Sheer Force only to manipulate
sf_lpw = last_played_wars.loc[last_played_wars.Clan == "Sheer Force"].copy()
#Joined Wars of clan member
sf_lpw["Joined Wars"] = sf_lpw["Total Wars"]
#get maximum number of wars this season
sf_max = sf_lpw["Total Wars"].max()
sf_lpw["Total Wars"] = sf_max
#find participation of members
sf_lpw["Participation"] = sf_lpw["Joined Wars"]/sf_max
#get < 50% participation members and add to slackers
sheer_force_slackers = sf_lpw.loc[sf_lpw.Participation < .5].copy()
sheer_force_slackers.head()
sf = sheer_force_slackers.to_csv(r"sf.csv", index = True, header = True)

In [4]:
#Dark Matter
dm_lpw = last_played_wars.loc[last_played_wars.Clan == "Dark Matter"].copy()
dm_lpw["Joined Wars"] = dm_lpw["Total Wars"]
dm_max = dm_lpw["Total Wars"].max()
dm_lpw["Total Wars"] = dm_max
dm_lpw["Participation"] = dm_lpw["Joined Wars"]/dm_max
dark_matter_slackers = dm_lpw.loc[dm_lpw.Participation < .5].copy()
dark_matter_slackers.head()
dm = dark_matter_slackers.to_csv(r"dm.csv", index = True, header = True)

In [5]:
#Mini Matter
mm_lpw = last_played_wars.loc[last_played_wars.Clan == "Mini Matter"].copy()
mm_lpw["Joined Wars"] = mm_lpw["Total Wars"]
mm_max = mm_lpw["Total Wars"].max()
mm_lpw["Total Wars"] = mm_max
mm_lpw["Participation"] = mm_lpw["Joined Wars"]/mm_max
mini_matter_slackers = mm_lpw.loc[mm_lpw.Participation < .5].copy()
mini_matter_slackers.head()
mm = mini_matter_slackers.to_csv(r"mm.csv", index = True, header = True)

In [6]:
#Legendary Monks
lm_lpw = last_played_wars.loc[last_played_wars.Clan == "Legendary Monks"].copy()
lm_lpw["Joined Wars"] = lm_lpw["Total Wars"]
lm_max = lm_lpw["Total Wars"].max()
lm_lpw["Total Wars"] = lm_max
lm_lpw["Participation"] = lm_lpw["Joined Wars"]/lm_max
legendary_monks_slackers = lm_lpw.loc[lm_lpw.Participation < .5].copy()
legendary_monks_slackers.head()
lm = legendary_monks_slackers.to_csv(r"lm.csv", index = True, header = True)

In [7]:
#Golden Clan
kbwf_lpw = last_played_wars.loc[last_played_wars.Clan == "Golden Clan"].copy()
kbwf_lpw["Joined Wars"] = kbwf_lpw["Total Wars"]
kbwf_max = kbwf_lpw["Total Wars"].max()
kbwf_lpw["Total Wars"] = kbwf_max
kbwf_lpw["Participation"] = kbwf_lpw["Joined Wars"]/kbwf_max
killer_black_slackers = kbwf_lpw.loc[kbwf_lpw.Participation < .5].copy()
killer_black_slackers.head()
kbwf = killer_black_slackers.to_csv(r"gc.csv", index = True, header = True)